.footer {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    align-items: center;
    padding: 54px;
}


.footer .Navigation {
    width: 20%;
}


.Navigation ul li {
    height: 41px;
    display: flex;
    align-items: center;
}

.textFooter {
    width: 40%;
    text-align: center;
}

.RedesSociais {
    width: 14%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.RedesSociais div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}