.SectionBottom {
    display: flex;
    justify-content: space-around;
    margin: 21px 0px;
    align-items: center;
}

.itemBottom {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}


.itemBottom div {
    height: 161px;
    width: 161px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #801700;
    border-radius: 50% 50%;
}
.itemBottom img {
    width: 97%;
}

h3 {
    text-align: center;
    font-size: 23px;
    margin: 20px;
}

p {
    padding: 2px 51px;
    font-size: 17px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin: 20px;

}