
.ContentVitrine {
    padding: 20px 0px;
}


a {
    list-style-type: none;
    text-decoration: none;
}


a .vitrine-item div {
    max-width: 23vw;
    margin: 0 auto;
}




a .vitrine-item:hover {
    opacity: 0.8;
    transition: .8s;
}


.vitrine-item img {
    width: 100%;
    margin: 0 auto;
}


h3{
    text-align: center;
    font-size: 23px;
    margin: 20px;
}
h4 {
    text-align: center;
    position: relative;
    top: -30px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    opacity: 0;
    transition: .8s;
    background: #801700;
    padding: 4px;
}

a .vitrine-item:hover h4 {
    opacity: 1;
}



.prev-and-next-vitrine {
    width: 98%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -312px;
    align-items: center;
    height: 3px;
    margin: 0 auto;
  }
  .prev-and-next-vitrine button.button {
      width: 35px;
      height: 112px;
      border-radius: 50%;
      background: #ff000000;
  }
  
  svg.flickity-button-icon {
      fill: #8c3b3b;
      
  }