.SectionThumb {
    display: flex;
    width: 100%;
}

.contentThumb {
    display: flex;
    justify-content: space-around;
}
.contentThumb div img {
    width: 96%;
    margin: 10px auto;
}

.contentThumb div {
    display: flex;
    width: 33%;
}