
.conteudoMenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;    
    background: #ffffff7d;
    position:fixed;
    z-index: 3;
    margin-top: -1px;
    
}

.conteudoMenu ul {
    display: flex;
    font-size: 14px;
    margin: 0;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
    width: 43%;
}


.conteudoMenu ul li {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.conteudoMenu ul li a {
    text-decoration: none;
    color: #000;
    transition: .6s;

}

.conteudoMenu ul li a:hover{
    color: #fff;
}




